/GeoAlarm/GeoAlarm.Droid/obj
/GeoAlarm/GeoAlarm.Droid/bin
/GeoAlarm/GeoAlarm.iOS/obj
/GeoAlarm/GeoAlarm.iOS/bin
/GeoAlarm/GeoAlarm.UWP/obj
/GeoAlarm/GeoAlarm.UWP/bin
/GeoAlarm/GeoAlarm.Windows/obj
/GeoAlarm/GeoAlarm.Windows/bin
/GeoAlarm/GeoAlarm.WinPhone/obj
/GeoAlarm/GeoAlarm.WinPhone/bin
